html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #f8f8f8;
}

body {
  --primary-6: 147,92,219;
  --primary-5: 146 91 219;;
  --primary-7: 150,97,220;
  --link-6:147,92,219
}
